<!DOCTYPE html>
<html lang="en" id="masterPageId" >

<!-- Mirrored from themepixels.me/demo/slim1.1/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Mar 2022 07:35:51 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Slim">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="../../../slim/img/slim-social.html">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim">
    <meta property="og:title" content="Slim">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="../../../slim/img/slim-social.html">
    <meta property="og:image:secure_url" content="../../../slim/img/slim-social.html">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Slim Asset System</title>

    <!-- vendor css -->
    <link href="~/Admin/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Admin/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/Admin/lib/chartist/css/chartist.css" rel="stylesheet">
    <link href="~/Admin/lib/rickshaw/css/rickshaw.min.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="~/Admin/css/slim.css">



    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />

    @* Predefined themes: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/ *@
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <script src="https://kit.fontawesome.com/fb2a8bbabd.js" crossorigin="anonymous"></script>
    <style>
        .product-center {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem 3rem;
        }

        .product {
            height: 20rem;
            /* background-color: #fff; */
            box-shadow: 1rem 2rem 5rem 5rem rgba(204, 187, 196, 0.15);
            text-align: center;
            transition: all 300ms ease-in-out;
        }

            .product:hover {
                box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
            }

        .product-header {
            position: relative;
            height: 20rem;
            /* background-color: #f6f2f1; */
            transition: all 300ms ease-in-out;
            z-index: 0;
        }

            .product-header img {
                height: 100%;
                width: 100%;
                border-radius: 0%;
            }

        .Productcontainer {
            max-width: 120rem;
            margin: 0 auto;
        }

        .product-header .icons {
            position: absolute;
            right: 5%;
            top: 50%;
            z-index: 2;
            opacity: 0;
            transition: all 500ms ease-in-out;
        }

            .product-header .icons li {
                background-color: #fff;
                font-size: 1.5rem;
                display: block;
                margin-bottom: 1rem;
                border-radius: 50%;
                padding: 1rem .8rem;
                line-height: 2rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;
            }

                .product-header .icons li i {
                    transition: all 500ms ease-in-out;
                }

                .product-header .icons li:hover {
                    background-color: #f86b73;
                    color: #fff;
                }

        .product:hover .icons {
            opacity: 1;
            transform: translate(0, -70%);
        }
        
    </style>

    <script type='text/javascript' src='https://knockoutjs.com/downloads/knockout-3.5.0.debug.js'></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.min.js'></script>

    <script src="~/Admin/lib/popper/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>


    @*Custom css*@
    <link rel="stylesheet" href="~/Admin/css/Custom.css">

    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    @*
              <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
        <script src="~/js/thirdparty.bundle.js"></script>*@


    @*  <script src="~/Admin/lib/jquery/js/jquery.js"></script>*@

    @* <script src="~/Admin/lib/bootstrap/js/bootstrap.js"></script>*@


</head>
<body id="masterbodyid">

    <partial name="Admin/_AdminHeader" model="Model" />


    <partial name="Admin/_AdminNav" model="Model" />

 

    @RenderBody();

    <div class="slim-footer " @*style="position:absolute;bottom:0; width:100%"*@>
        <div class="container">
            <p>Copyright 2018 &copy; All Rights Reserved. Slim Dashboard Template</p>
            <p>Designed by: <a href="#">ThemePixels</a></p>
        </div><!-- container -->
    </div><!-- slim-footer -->

    

    <script src="~/Admin/lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="~/Admin/lib/chartist/js/chartist.js"></script>
    <script src="~/Admin/lib/d3/js/d3.js"></script>
    <script src="~/Admin/lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="~/Admin/lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="~/Admin/lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="~/Admin/lib/jquery.sparkline.bower/js/jquery.sparkline.min.js"></script>
    <script src="~/Admin/js/ResizeSensor.js"></script>
    <script src="~/Admin/js/dashboard.js"></script>
    <script src="~/Admin/js/slim.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>

</html>
