@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <div class="table-wrapper">
        <div id="AssetLeasingPoup" class="modal fade effect-super-scaled" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-vertical-center modal-lg" role="document">
                <form asp-area="Admin" asp-page="/AssetManagment/assetprofile" asp-page-handler="AddAssetLeasing" asp-route-AssetId="@Model" enctype="multipart/form-data">
                    <div class="modal-content bd-0 tx-14">
                        <div class="modal-header pd-y-20 pd-x-25">
                            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold" id="AssetDescriptiontxt"></h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="@sharedResource["Close"]">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @(Html.DevExtreme().Form<AssetProject.Models.AssetLeasing>
()
.ID("AddAssetLeasing")
.ColCount(1).Width(400).Height(320)
.Items(items =>
{
    items.AddSimpleFor(m => m.StartDate).ValidationRules(r => r
    .AddRequired()
    .Message("End Date is required")).Label(l => l.Text(sharedResource["StartDate"]));

    items.AddSimpleFor(m => m.CustomerId)
    .IsRequired(true)
    .Editor(e => e
    .Lookup()
    .DataSource(ds => ds.WebApi().Controller("Lookups").LoadAction("CustomersLookup").Key("Value"))
    .ValueExpr("Value")
     .DisplayExpr("Text").Placeholder(sharedResource["Select Customer"])
                                .ShowClearButton(true)
                                .ClearButtonText(sharedResource["Clear"])
                                .CancelButtonText(sharedResource["Cancel"])
                                .SearchPlaceholder(sharedResource["searching"])
    ).Label(l => l.Text(sharedResource["Customer"]));
    items.AddSimpleFor(m => m.LeasedCost).Label(l => l.Text(sharedResource["Leased Cost"])).ValidationRules(r => r
    .AddRequired()
    .Message("Leased Cost is required")).Editor(e => e.NumberBox().Value(new JS("null")));
    items.AddSimpleFor(m => m.EndDate).ValidationRules(r => r
    .AddRequired()
    .Message("End Date is required")).Label(l => l.Text(sharedResource["EndDate"]));
    items.AddSimpleFor(m => m.Notes).Editor(e => e.TextArea()).Label(l => l.Text(sharedResource["Notes"]));
    items.AddGroup().ColCount(2)
                       .Items(groupItems =>
                       {
                           groupItems.AddButton()
                                           .HorizontalAlignment(HorizontalAlignment.Center)
                                           .ButtonOptions(b => b.Text(@sharedResource["Save"])
                                               .Type(ButtonType.Default)
                                               .UseSubmitBehavior(true)
                                       );
                           groupItems.AddButton()
                                           .HorizontalAlignment(HorizontalAlignment.Center)
                                           .ButtonOptions(b => b.Text(sharedResource["Cancel"]).ElementAttr("data-dismiss", "modal")

                        @*.UseSubmitBehavior(true)*@
                );

                       });

    })

    )

                        </div>
                    </div>
                </form>
            </div><!-- modal-dialog -->
        </div>
        </div></div>
