@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@sharedResource["Access denied"]</h1>
        <p class="text-danger">@sharedResource["You do not have access to this resource"].</p>
</header>
