@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
   Layout = "~/Pages/Shared/Admin/_AdminLayoutSlimEmpty.cshtml";
}
<div class="d-md-flex flex-row-reverse">
    <div class="signin-right">
        <div class="signin-box">
            <p>
                 @sharedResource["Your password has been reset. Please"]<a asp-page="./Login"><h4>@sharedResource["click here to log in"]</h4></a>.
<           </p>
          </div>
    </div>
    <div class="signin-left">
        <div class="signin-box">
            <h2 class="slim-logo"><a href="index.html">slim<span>.</span></a></h2>

            <p>@sharedResource["slim paragraph"].</p>

            <p class="tx-12">&copy; @sharedResource["Copyright 2022. All Rights Reserved"].</p>
        </div>
    </div>
</div>
